@import url('https://fonts.googleapis.com/css?family=Allura|Raleway|Yesteryear');

.likeornot {
	position: absolute;
	margin-top: 15%;
}
.container {
	margin:0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	width: 100%;
	background-color:rgb(162, 18, 35);
}

.logotexte {
	color: #fff;
	text-decoration: none;
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
}
.logo {
	height: 150%;
	margin-top: 2%;
	margin-left: -9%;
	z-index: 4;
}
/*.logo .logotexte {
	font-style: 100px;
}*/

.menu ul li {
	display:inline;
	list-style-type: none;
	margin-left: 20px;
	font-size: 2em;
	font-family: 'Allura', cursive;
}

.menu ul li a {
	text-decoration:none;
	color:white;
	transition: 0.5s;
}

.menu ul li a:hover {
	color: black;
	border-bottom: 2px solid #fff;
	transition: 0.5s;
}

.panier {
	height: 40px;
	width: 180px;
	display: flex;
	justify-content: center;
	margin-top: 0.2rem;
	background-color:rgb(162, 18, 35);
	border: 1px solid rgb(162, 18, 35);
	border-radius: 5px;
	padding-left: 10px;
	padding-top: ;
}

.panier:hover {
}

.panier a {
	text-decoration:none;
	font-weight: bold;
	color:white;
	font-size:1.2em;
	transition: 0.5s;
}

.panier a:hover {
	color: rgb(245, 136, 136);
	font-size: 1.3em;
	transition: 0.5s;
}

.panier img {
	height: 22px;
	width: 25px;
	margin-right: 10px;
	padding-top: 5px;
}

.panier .monnaie {
	margin-right: -50%;
	margin-top: -5px;
	font-size: 0.95em;
	color: white;
}
.panier .monnaie:hover {
	color: black;
	font-size: 0.95em;
}
