.container-fluid {
	margin: 0;
	padding: 0;

	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	width: 100%;
	background-color: rgb(210,210,210);
}

.adresse {
	margin-left: 0px;
	line-height:5px;
	font-size: 0.8em;
	color: white;
}

.menu-foot {
	display: inline-block;
	padding-right: 25px;
}

.menu-foot ul li {
	display:inline;
	margin-right: 20px;
}

.menu-foot ul li .ficon {
	color: #B71C1C;
}
.reseauxcont {
	color: white;
	font-size: 0.8em;
	}
.reseaux ul li {
	display:inline;
	margin-right: 15px;
	height: 10px;
	width: 10px;
}

.reseaux ul li .ricon {
	color: #000;
}
